@import '../../styles/variables.scss';


.fourthMain{
    display:flex;
    align-items:flex-start;
    justify-content: center;
    font-size: 40px;
    width:100%;
  }
  .subtitle{
    font-size: clamp(23px,2vw,45px);
    font-family: 'Bacasime Antique', serif;
    color:$brand-secondary;
  }
  .div{
    height:70%;
    width:73%;
    display: flex;
    justify-content: center;
    align-items: space-around;
  }
  .img{
    margin: auto;
    width: 100%;
    height: clamp(200px,16rem,300px);
    border-radius: 10px;
    background-color: red;
  }

  .project{
    display: inline-flex;
    background-color: $brand-info;
    box-shadow: 0 5px 15px grey;
    border-radius: 5px;
    height: fit-content;
    padding:10px;
    width: clamp(250px,70vw,1200px);
  }
  .p{
    font-size: clamp(14px,1.2vw,18px);
    margin:auto;
    width:90%;
  }
  