.page{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
}
.go_back{
    position: absolute;
    top: 4%;
    left: 7%;
    background-color: transparent;
    border: none;   
    transition: all .3s;
    font-weight:700;
}
.go_back::before{
    content:'// ';
    font-size: 1rem;
}
.go_back:hover{
    color: red;
}
.left_side{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    background-color: black;
    padding: 6em clamp(2em,2vw,4em);
}
.right_side{
    width: 70vw;
    background-position: center;
}
.project_name,
.project_description,
.skills_subtitle,
.button,
.go_back{
    color:white;
    font-family: 'Inter';
}
.project_description{
    font-size: clamp(.9em,2vw,1em);
    margin: clamp(1em, 1vh, 3em) 0;
}
.skills_container{
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: flex;
    margin: clamp(1em, 3vh ,3em) 0;
}
.skills_div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 100%;
    margin-top: 2em;
    align-items: center;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      margin-top: 3em;
    }
    to {
        opacity: 1;
        margin-top:2em;
    }
  }
.skill{
    height: fit-content;
    color: white;
    fill: white;
    width: clamp(3.5em,6vw,7em);
}
.button{
    text-decoration: none;
    border: 1px solid white;
    font-size: clamp(.6em, 1vw, 1em);
    padding: .8em clamp(.4em,20vw ,3em);
    transition: all .3s;
}
.button:hover{
    background-color: white;
    border: black 1px solid;
    color: black;
}
.button_div{
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
    width: 100%;
}
@media (max-width:982px) {
    .page{
        display: flex;
        flex-direction: column-reverse;
    }
    .right_side{
        width: 100%;
        height: 25dvh;
    }
    .page_name::before{
        font-size: 1.4rem;
    }
    .left_side{
        height: 75dvh;
        padding: 2em;
        padding-top:3.5em;
        padding-inline:clamp(1em,13vw,7em);
        width: 100%;
        background-color: black;
        justify-content: space-evenly;
    }
    .project_description{
        margin: .5em 0;
    }
    .skills_container{
        display: none;
    }
    .button_div{
        display: flex;
        width: 100%;
        align-items: center;
        height: fit-content;
        flex-direction: column;
        gap: .5em;
    }
    .button{
        justify-self: center;
        text-align: center;
        max-width: 200px;
        width: 100%;
    }
}