.page{
    display: grid;
    place-items: center;
    background: url('../../public/images/aboutme-bg.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.main_div{
    display: flex;
    flex-direction: column;
    gap: clamp(1.3rem,2vh,2rem);
    width: clamp(18rem,90vw, 60rem);
}
.span,
.section_title,
.titles,
.p{
    font-family: 'Inter';
}
.section_title{
    margin-top: clamp(1rem,4vw,1.5rem);
}
.section_title,
.titles{
    font-weight: 800;
}
.p{
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem clamp(1rem,3vw,4rem);
    line-height: clamp(1.7rem,5vh,2.4rem);
    font-size: clamp(.85rem,2vw,1.3rem);
    color: white;
}
.span{
    font-size: clamp(1rem,2vw,1.4rem);
}
.titles,
.p{
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}
.titles_div{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.titles{
    background:linear-gradient( 70deg,purple, #00CF9D);
    color: white;
    padding: 1.5rem;
    font-size: 1.8rem;
    width: 48%;
    height: 220px;
}
@media (max-width:536px) {
    .titles_div{
        flex-direction: column;
    }
    .p{
        line-height: 1.7rem;
    }
    .titles{
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        width: 100%;
        height: 4rem;
    }
}