.page{
    overflow: hidden;
    background-color: black;
}
.main{
    display: flex;
}
.left_side{
    width: 60vw;
}
.right_side{
    position: relative;
    width: 40vw;
    background: url('../../public/images/contact-bg.svg');
    background-size: cover;    
}
.page_name{
    position: absolute;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 8.5em;
    top: 1.8em;
    right: -1.8em;
    transform: rotate(270deg);
    color: white;
}