.page{
    overflow: hidden;
    background-color: black;
}
.main{
    display: flex;
}
.left_side{
    width: 60vw;
}
.right_side{
    position: relative;
    height: 100%;
    width: 40vw;
    background: url('../../public/images/contact-bg.svg');
    background-size: cover;    
}
.page_name{
    position: absolute;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 8.5em;
    top: 1.8em;
    right: -1.8em;
    transform: rotate(270deg);
    color: white;
}
@media (max-width:982px) {
    .right_side{
        width: 100%;
        height: 25%;
    }
    .page_name{
        width: fit-content;
        left: -2rem;
        top: 2.3em;
        font-size: 1.9rem;
    }
    .left_side{
        height: 75%;
        width: 100%;
    }
}