@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import '../styles/variables.scss';
.div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:10px 20px;
  background-color: $brand-primary;
  color:$brand-info;
  gap:10px;
}
.landingSection{
  height: 700px;
  background-color: $brand-primary;
  display: flex;
  align-items: center;
  padding:30px;
}
.landingTitle{
  font-family: 'Bacasime Antique', serif;
  color:$brand-info;
  font-size: clamp(23px,6vw,70px);
}
.landingSubtitle{
  color:$brand-secondary;
  font-size: clamp(10px,5vw,40px);
}
.secondMain,.thirdMain,.fourthMain{
  display:flex;
  align-items:flex-start;
  justify-content: center;
  font-size: 40px;
}
.secondMain{
  background-color: $brand-info;
  width:100%;
  padding:auto;
  margin: auto;
}
.thirdMain,.fourthMain{
  height:700px;
  width:100%;
  padding:auto;
  margin: auto;
}
.thirdMain{
  background-color: red;
}
.fourthMain{
  background-color: blue;
}
.subtitle{
  font-family: 'Bacasime Antique', serif;
  color:$brand-secondary;
}
.aboutDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  justify-content: center;
  background-color: $brand-info;
  padding: clamp(30px, .5em, 70px);
  padding-top: 4em;
  padding-bottom: 4em;
}
.p{
  font-size: clamp(16px,.5em,30px);
  font-family: 'Raleway', sans-serif;
  color:#986262;
  width: 90%;
}
.footer{
  background: linear-gradient($brand-primary, black);
  height:400px;
}