.home{
  display: flex;
  padding-bottom:1em;
  padding-left: 5em;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  height:100vh;
  height: 100svh;
  width: 100%;
  background-color: black;
}
.hero{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding-block: 6em;
}

.small_title,.big_title{
  font-family: 'Inter', sans-serif;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.small_title{
  font-size: clamp(.9rem,6vw,3rem);
  font-weight: 200;
  letter-spacing: .4em;
}
.scrollIntoView_div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollIntoView{
  color: white;
  font-family: 'Inter';
}
.scrollIntoView_box{
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  width: 2em;
  border-radius: 200px;
  border: white 3px solid;
  height: 4em;
  margin-bottom: 1em;
}
.scrollIntoView_ball{
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  animation: scrollingBall 2s infinite;
}
@keyframes scrollingBall {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(2.3em);
  }
  100%{
    transform: translateY(0);
  }
}
.big_title{
  font-size: clamp(1rem,6vw,6rem);
  letter-spacing: .3em;
  font-weight: 800;
}

