.home{
  display: flex;
  padding-bottom:1em;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-image: url('../../public/images/home-bg.svg');
  background-size: cover;
  background-position: center;
}
.hero{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding-top: 10rem;
}
.nav{
  justify-self: flex-end;
}
.small_title,.big_title{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.small_title{
  font-size: clamp(.9rem,3vw,3rem);
  letter-spacing: .4em;
}
.big_title{
  font-size: clamp(2.5rem,8vw,9rem);
  letter-spacing: .1em;
}
.big_title::after {
  content: '.';
  color: red;
}
