@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

.nav,.div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  background-color: white;
}
.navList{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap:20px;
}
.title{
  font-family: 'Bacasime Antique', serif;
}
.navItem{
 font-family: 'Raleway', sans-serif;
 font-weight: bold;
}
.div{
  gap:10px;
}
.contactBtn{
  background-color: rgb(202, 202, 202);
  display: inline-flex;
  border-radius: 30px;
  padding:5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 15px;
  gap: 5px;
}