.page{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.tech_logo {
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(8px);
    border-radius: 40%;
    padding: .2em;
    width: clamp(4em, 6vw, 9em);
    transition: transform 0.75s ease-in-out;
}

.tech_logo:hover {
    animation: animatedTech1 0.75s ease-in-out alternate infinite;
}

@keyframes animatedTech1 {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(1em);
    }
}

.tech_logo:not(:hover) {
    animation: animatedTech2 0.75s ease-in-out alternate forwards;
}

@keyframes animatedTech2 {
    from {
        transform: translateY(1em);
    }
    to {
        transform: translateY(0);
    }
}
.main_content{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: auto;
    background: linear-gradient(340deg,rgb(100, 83, 83), black);
    padding-block: 10em;
    background-size: cover;
    background-repeat: no-repeat;
}
.techTitle{
    font-weight: 800;
    font-size: 3rem;
    margin-top: .5em;
}
.span{
    font-weight: 200;
    font-size: 1.2rem;
}
.span,
.techTitle{
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    width: fit-content;
}
.title_div{
    align-self: start;
    margin-right: auto;
    width: fit-content;
}
.main_grid{
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    height: clamp(35em,80%,43em);
    padding-block: 4em;
    column-gap: 10vw;
    row-gap: 8rem;
    border-radius: 1em;
}
@media (max-width:982px) {
    .page{
        display: flex;
        height: 100vh;
        height: 100svh;
        flex-direction: column-reverse;
    }
    .tech_logo{
        width: 5em;
    }
    .main_content{
        grid-template-columns: repeat(2, 1fr);
        border-radius: 0;
        height: 75vh;
        height: 75svh;
        width: 100%;
        padding: 2em;
    }
    .left_side{
        padding: 0;
        height: 75vh;
        height: 75svh;
        width: 100vw;
    }
}