.page{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url('../../public/images/skills-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.tech_logo{
    width: 10em;
}
.left_side{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 60vw;
    padding-bottom: 2em;
}
.right_side{
    position: relative;
    height: 100vh;
    width: 40vw;
    background-size: cover;    
}
.page_name{
    position: absolute;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 8.5em;
    top: 1.2em;
    right: -1em;
    transform: rotate(270deg);
    color: white;
}
.left_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    height: 43em;
    width: 47em;
    padding: 4em 0;
    gap: 3em;
    border-radius: 1em;
    background-color: #ffffff42;
    backdrop-filter: blur(8px);
}