.page{
    display: flex;
    overflow: hidden;
    height: 100vh;
    opacity:'100%';
    background-size:'100%';
    background-repeat:'no-repeat';
    transition: 'all .05s ease-in-out .1s'
}
.withBoxShadow{
    box-shadow:'inset 0 -30em 20em rgba(0, 0, 0, .7)';

}
.left_savvy_bg,
.left_tesla_bg,
.left_grams_bg{
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
}
.left_side{
    display: block;
    width: 15vw;
}
.right_side{
    display:grid;
    place-items: center;
    width: 85vw;
    position: relative;
    height: 100%;
}
.right_content{
    display: grid;
    place-items: center;
    left: 45rem;
    height: 100%;

}
.viewProject{
    padding: 1em 2em;
    text-decoration: none;
    background-color: rgba($color: #000000, $alpha: .8);
    color: white;
    border: 1px solid white;
    font-family: 'Inter';
    font-size: 1rem;
}
.content_container{
    display: flex;
    width: 80vw;
    height: 70vh;
}
.content1,
.content2,
.content3{
    overflow: hidden;
    position: relative;
    width: 40em;
    height: clamp(7em,18vh,13em);
    background-color: grey;
}
.content_hover{
    display: grid;
    place-items: center;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .3);
    transition: top .2s ease-in;
}
.active{
    top: 0%;
}
.content_container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.content1,
.content2,
.content3{
    width: 100%;
}
.page_name::before{
    content: '//';
    font-weight: 900;
    font-size: 5rem;
}
.page_name{
    position: absolute;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 6em;
    letter-spacing: 8px;
    top: 2em;
    left: -1.5em;
    transform: rotate(270deg);
}

.left_content{
    display: none;
}
@media (max-width:982px) {
    .page{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .left_grams_bg{
        background-image: url('../../public/images/gramscooking.webp');
    }
    .left_savvy_bg{
        background-image: url('../../public/images/savvybooking.webp');
    }
    .left_tesla_bg{
        background-image: url('../../public/images/teslaclone.webp');
    }
    .content_container{
        display: grid;
        place-items: center;
        gap:.1em;
    }
    .right_side{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100vw;
        height: 75vh;
        background-color: white;
    }
    .page_name{
        width: fit-content;
        position: absolute;
        left: -2.3rem;
        top: 2.5em;
        font-size: 1.4rem;
        z-index: 5;
        letter-spacing: 2px;
        color: white;
    }
    .page_name::before{
        font-size: 1.4rem;
    }
    .left_side{
        height: 25vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 20%;
    }
    .left_content{
        display: block;
        padding: 2em;
    }
    .left_p{
        text-align: center;
        font-size: 1em;
    }
}