@import '../../styles/variables.scss';

.nav{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: clamp(1em,9%,11em);
  background-color: rgba(217, 217, 217, 0.089);
  backdrop-filter: blur(.8px);
}
.nav_item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: clamp(.3rem,4vw,1.5rem);
  width: 100%;
  height: clamp(2rem,2vh,3rem);
  background-color: #B8B8B8;
  border-radius: 200px 0 0 200px;
  transition: all .25s;
}
.item{
  margin: 0;
  font-family: 'Inter';
  padding: 0;
  font-weight: 800;
  color: white;
  font-size:.9rem;
  letter-spacing: .30rem;
}
.active::before{
  content: '';
  position: absolute;
  top: -41%;
  right: -1%;
  border-radius: 0 0 60% 0;
  background-color: transparent;
  border-right: 1px solid black;
  border-bottom: 5px solid black;
  width: 20px;
  height: 25px;
}
.active::after{
  content: '';
  position: absolute;
  bottom: -40%;
  right: -1%;
  border-radius: 0 60% 0 0;
  background-color: transparent;
  border-right: 1px solid black;
  border-top: 5px solid black;
  width: 19px;
  height: 25px;
}
.nav_icon_list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding-left: clamp(.7rem,4vw,2rem);
  padding-right: .5em;
}
.icon{
  border-radius: 50%;
  padding: min(.6vw,3rem);
  background-color: #B8B8B8;

}
.active{
  background-color: black;
  position: relative;
}
.inactive{
  background-color: #b8b8b84f;
}
.nav_item:hover{
  color: white;
}
.list{
  height: 45%;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  padding-left: clamp(.3rem,2vw,2rem);
}
.mobile_logo{
  display: none;
}
@media (max-width:1282px) {
  .nav{
    gap: clamp(.5rem,20vh,5rem);
  }
  .list{
    height: 30%;
    gap: 1em;
  }
  .mobile_logo{
    display: block;
    width: .9rem;
    height: .8rem;
  }
  .item{
    display: none;
  }
  .active::before,
  .active::after{
    height: .75rem;
    width: .75rem;
    right: -8%;
  }
  .active::before{
    top: -15%;
  }
  .active::after{
    bottom: -15%;
  }
  .nav_icon_list{
    flex-direction: column;
    align-items: center;
    padding-left: clamp(.3rem,2vw,2rem);
    gap: (1.5rem);
  }
}