@import '../../styles/variables.scss';

.nav{
  background-color: transparent;
}
.nav_list{
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  list-style: none;
}
.nav_list_item{
  margin: 0;
  color: white;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}