@import '../../styles/variables.scss';

.nav{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 1em;
  background-color: transparent;
}
.nav_list{
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  list-style: none;
}
.nav_list_item{
  margin: 0;
  color: white;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}
.link{
  text-decoration: none;
}
.offcanvas::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.offcanvas{
  position: absolute;
  overflow: hidden;
  top: 0;
  opacity: 0;
  right: -100px;
  width: 0vw;
  height: 100%;
  transition: all .2s;
}
.show{
  right: 0;
  width: 65vw;
  opacity: 1;
}
.toggle_button{
  position: absolute;
  top: .2em;
  right: 1em;
  background-color: transparent;
  border: none;
}
.mobile_nav_list{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  list-style: none;
}
.mobile_nav_list_item{
  font-size: 1.1rem;
  font-family: 'Inter';
  font-weight: 200;
  text-decoration: none;
}
.button_div{
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}
.button{
  background:transparent;
  border: none;
}
.list{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 4px;
  padding: 0;
  width: 100%;
}
.mobile_logo{
  width: 1.3em;
}
@media (max-width:1023px) {
  .nav{
    display: none;
  }
}