@import '../../styles/variables.scss';

.section{
    display: flex;
    height: 100vh;
    background: black;
}
.form{
    background-color: #141414;
    width: clamp(30em, 40vw,60em);
    height: fit-content;
    margin-inline: auto;
    margin-top:5em;
    padding: 2em 1rem;
}
.input,.big_input,.form{
    color: white;
}
.input,.big_input{
    background-color: #303030;
    border: none;
    color: white;
    padding: 1rem;
}
.input:focus,.big_input:focus{
    background-color: #4b4b4b;
    outline: none;
}
.input{
    height: 3em;
}
.big_input{
    height: 15em;
}
