@import '../../styles/variables.scss';

.section{
    height: 100vh;
    background: transparent;
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255,.4);
    backdrop-filter: blur(9px);
    border-radius: 1em;
    width: clamp(16em,90vw,40em);
    margin: auto;
    height: fit-content;
    margin-top: clamp(1.5em,2vw,5em);
    padding: 2em .0;
    gap: clamp(.2em,2vw,1em);
}
.formSpan,
.formTitle{
    font-family: 'Inter';
}
.formTitle{
    margin-top: .2em;
    font-size: 2.7rem;
    letter-spacing: .05rem;
    font-family: 'Inter';
    font-weight: 800;
}
.input,.big_input,.form{
    color: rgb(65, 65, 65);
}
.input,.big_input{
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    border-radius: .3rem;
    border: none;
    padding: 1rem;
}
.label,
.input::placeholder,
.big_input::placeholder{
    font-family: 'Inter';
    color: rgb(80, 80, 80);
}
.label{
    font-weight: 800;
    margin-bottom: 1em;
}
.input::placeholder,
.big_input::placeholder{
    font-weight: 200;

}
.input:focus,.big_input:focus{
    background-color: rgb(255, 255, 255);

    outline: none;
}
.input{
    height: clamp(1em,2vw,3em);
}
.big_input{
    height: clamp(7em,20vh,15em);
}
.submit{
    width: clamp(8em,2vw,13em);
    margin: auto;
    padding: .5em;
    border: none;
    color: white;
    background-color: #23292A;
}
