@import '../../styles/variables.scss';

.section{
    height: 100vh;
    background: black;
    display: flex;
}
.form{
    background-color: #141414;
    width: clamp(16em,90vw,40em);
    margin: auto;
    height: fit-content;
    margin-top: clamp(1.5em,2vw,5em);
    padding: 2em 1rem;
    gap: clamp(.2em,2vw,1em);
}
.input,.big_input,.form{
    color: white;
}
.input,.big_input{
    background-color: #303030;
    border: none;
    color: white;
    padding: 1rem;
}
.input:focus,.big_input:focus{
    background-color: #4b4b4b;
    outline: none;
}
.input{
    height: clamp(1em,2vw,3em);
}
.big_input{
    height: clamp(7em,20vh,15em);
}
.submit{
    width: clamp(8em,2vw,13em);
    margin: auto;
    padding: .5em;
    border: none;
    color: white;
    background-color: #23292A;
}
